
.heading
{
font-size: 45px;
width: 100%;
margin: 0px;
background-color: rgb(122, 163, 238);
line-height: 1.3;
}

#status
{
font-size: 18px;
}

body
{
    background-size: cover;
}

#label, #ehm
{
    font-size:medium;
}

canvas
{
    border-style: dashed;
}